---
import Back from "./icons/Back.astro";
interface Props {
    text: string;
}
const { text } = Astro.props as Props;
---

<header
    class="w-auto flex flex-col px-3.5 py-6 gap-2"
>
    <Back />
    <div class="flex flex-col items-center">
        <h1 class="text-h4 md:text-h2 font-bold text-neutral-900">{text}</h1>
    </div>
</header>
