---
import AppNav from "./AppNav.astro";
import ContextHeaderProfile from "./ContextHeaderProfile.astro";

interface Props {
    text?: string;
    icon?: string;
    showContextHeader?: boolean;
    navActive?: "home" | "history" | "profile";
    lunchId?: string;
}
const { text = "", icon = "", showContextHeader = true, navActive = "home", lunchId = "" } = Astro.props as Props;
const isTicketRoute = Astro.url.pathname === "/ticket" || Astro.url.pathname === "/ticket/";

---

<main class="min-h-dvh flex flex-col lg:flex-row w-full">
    <section class="hidden lg:flex">
        <AppNav active={navActive} orientation="vertical" />
    </section>
    <section
        class=`flex flex-col ${isTicketRoute ? "" : "lg:flex-row"} flex-1 w-full ${isTicketRoute ? "justify-start" : "justify-between"}`>
    {showContextHeader && <ContextHeaderProfile icon={icon} />}
        <slot />
    </section>
    <footer class="w-full z-50 mt-auto lg:hidden">
        <AppNav active={navActive} />
    </footer>
</main>
